*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    min-height: 100vh; 
    background-image: url('images/leaves.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #e7f1d5;
    padding: 25px;
    border-bottom: 3px solid rgb(31, 62, 12);
    margin: 0px 0px 50px 0px;
}

h1 {
    width: 50%;
    display: inline-block;
    font-family: "blithe", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    color: rgb(31, 62, 12);
    
}

nav {
    width: 45%;
    display:inline-block;
    text-align: right;
    
}

header nav a {
    color: rgb(31, 62, 12);
    text-decoration: none;
    font-family: "montserrat", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 26px;
    transition: all 0.3s ease; 
    margin: 0px 10px;
    text-transform:uppercase;
    transition: all 0.3s ease; 

}

header nav a:hover {
    color: #ffffff; 
    background-color: rgb(31, 62, 12); 
    border-radius: 5px; 
    padding: 10px 15px; 
    text-decoration: none; 
}

main {
    width: 60%;
    display:inline-block;
    float: left;
    background-color: #ffffff;
    padding: 20px 20px;
    border: 1px solid rgb(31, 62, 12);
    
}

h2 {
    color: rgb(31, 62, 12);
    font-family: "blithe", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 38px;
    margin-bottom: auto;
}

.image-figure img {
    max-width: 200px;
    height: auto;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px; 
}

p {
    font-size: 16px;
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 15px;
    line-height: 140%;
}

aside {
    width: 25%;
    display:inline-block;
    text-align: center; 
    vertical-align: top;
    background-color: #ffffff;
    padding: 20px 20px;
    border: 1px solid rgb(31, 62, 12);
    margin-left: 15px;
}

ul li {
    list-style: none;
    display:inline-block;
    padding: 10px 10px;
}

.container::after{
    content:"";
    clear:both;
    display:block;
}

footer {
    background-color: #e7f1d5;
    text-align: center; 
    padding: 40px 0px 40px 0px;
    margin: 50px 0px 0px 0px;
    font-size: 24px;
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-top: 3px solid rgb(31, 62, 12);

}

